.s-blog {
  margin: 10rem auto 0;
  max-width: 130rem;
  padding: 0 3rem;
}

.s-blog .blog-texts {
  display: flex;
  justify-content: space-between;
}

.s-blog .blog-title {
  font-size: 4.8rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.s-blog .blog-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-family: "inter", sans-serif;
  transition: all 0.3s;
  color: #eb3850;
  font-weight: 600;
}

.s-blog .blog-link:hover {
  color: #cb162e;
}

.s-blog .blog-link img {
  width: 3rem;
}
.s-blog .blog-card-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.s-blog .blog-card-container .blog-card {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 37rem;
}

.s-blog .blog-card-container .card-image {
  object-fit: cover;
  height: 35rem;
  border-radius: 1.6rem;
}

.s-blog .blog-card-container h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
}

.s-blog .blog-card-container p {
  font-family: "inter", sans-serif;
  font-size: 1.7rem;
  margin-top: 1.5rem;
  font-weight: 500;
  padding-right: 3rem;
}
